<!doctype html>
<head>
<title>File Upload Progress Demo #2</title>
<style>
body { padding: 30px }
form { display: block; margin: 20px auto; background: #eee; border-radius: 10px; padding: 15px }

.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }
</style>
</head>
<body>
    <h1>File Upload Progress</h1>
    <form id="upload_form" action="{% url 'process_upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="gzip_file"> Please choose a zip file (.zip):</label><br>
        <input id="gzip_file" type="file" name="zip_file" required><br>
        <lable for="txt_file"> Please choose a annotation file (.txt):</label><br>
        <input id="txt_file" type="file" name="annotation_file" required><br>
        <input id="submit" type="submit" value="Upload File to Server">
    </form>
    
    <div class="progress">
        <div class="bar"></div >
        <div class="percent">0%</div >
    </div>
    
    <div id="status" style="color:blue"></div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script>
(function() {
    
var bar = $('.bar');
var percent = $('.percent');
var status = $('#status');
   
$('form').ajaxForm({
    beforeSubmit: validate,
    beforeSend: function() {
        status.empty();
        var percentVal = '0%';
        bar.width(percentVal)
        percent.html(percentVal);
    },
    uploadProgress: function(event, position, total, percentComplete) {
        var percentVal = percentComplete + '%';
        bar.width(percentVal)
        percent.html(percentVal);
		//console.log(percentVal, position, total);
    },
    success: function() {
        var percentVal = '100%';
        bar.width(percentVal)
        percent.html(percentVal);
    },
	complete: function(xhr) {
		status.html(xhr.responseText);
	}
}); 

})();       
function validate(formData, jqForm, options) { 
    var ext1 = $('#gzip_file').val().split('.').pop().toLowerCase();
    var ext2 = $('#txt_file').val().split('.').pop().toLowerCase();
    if(($.inArray(ext1, ['zip']) == -1)||($.inArray(ext2, ['txt']) == -1)) {
        alert('Invalid extension!');
        return false;
    }
}
</script>
